.footer {
    background: #F0DCC5;
    display: flex;
    flex-direction: column;
    .footer-top {
        margin: 40px 10px 0 32px;
        .footer-header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            .logo {
    
            }
            .title {
                margin-left: 10px;
            }
        }
        .text1, .text2, .text3 {
            font-family: 'Avenir Next';
            font-weight: 400;
            font-size: 14px;
            color: #4F4F4F;
        }
        .text, .text2 {
            margin-top: 16px;
        }
        .text1 {
            line-height: 132%;
            letter-spacing: 0.04em;
        }
        .text2, .text3 {
            line-height: 24px;
            font-feature-settings: 'liga' off;
        }
        .text3 {
            margin-top: 8px;
        }
        .social {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 19px;
            gap: 16px;
            :nth-child(1n + 1) {

            }
        }
    }
    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        .menu1, .menu2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                font-family: 'Avenir Next';
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                font-feature-settings: 'liga' off;
                color: #647B64;
                list-style-type: none;
    
            }
            .list {
                font-family: 'Avenir Next';
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                font-feature-settings: 'liga' off;
                color: #333333;
                margin-top: 0px;
                margin-left: 0;
            }
        }
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        .send {
            font-family: 'Avenir Next';
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            font-feature-settings: 'liga' off;
            color: #647B64;
        }
        .label {
            font-family: 'Avenir Next';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            font-feature-settings: 'liga' off;
            color: #4F4F4F;
            background: #FFFFFF;
            border-radius: 2px;
            margin-top: 13px;
            margin-right: 32px;
            max-width: 283px;
            height: 113px;
            label {
                margin: 22px auto auto 24px;
            }
        }
        .button {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
            box-shadow: 0px 15.5068px 31.0137px rgba(128, 143, 150, 0.19);
            border-radius: 1.55px;
            font-family: 'Avenir Next';
            font-weight: 600;
            font-size: 12.4055px;
            line-height: 125.5%;
            letter-spacing: 0.155em;
            text-transform: uppercase;
            color: #FEFEFE;
            margin-top: 28px;
            margin-right: 32px;
            margin-bottom: 40px;
            max-width: 283px;
            .text {
                margin: 21px auto 21px 22px;
            }
            .image {
                margin-right: 22px;
            }
        }
    }
    
}