.footer {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    .text1 {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        color: #555555;
        padding-top: 22px;
    }
}
.footers {
    display: flex;
    flex-wrap: wrap;
    &.name {
        font-family: 'Varela Round';
        font-weight: 400;
        font-size: 31px;
        line-height: 25px;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        color: #111111;
        margin-left: 5px;
    }
}
.society {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 24px;
}
.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .child
        :nth-child(1) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;    
        }
    ul {
        padding-inline-start: 0;
        li {
            width: 150px;
            list-style: none;
            margin-top: 10px;
            &.names {
                font-family: 'Inter';
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #555555;
            }
            &.list {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                color: #555555;
            }
        }
    }
}
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .copyright {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        color: #999999;
        padding-top: 48px;
        padding-bottom: 79px;
    }
    .launching {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        color: #999999;
        text-align: right;
    }
}
@include xl {
    .footer {
        flex-wrap: wrap;
        margin-left: 80px;
        margin-right: 80px;
    }
    .footer-block {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-left {
        width: 35%;
    }
    .footer-right {
        display: flex;
        justify-content: flex-end;
        width: 65%;
    }
    .footers .name {
        font-size: 48px;
        line-height: 34px;
    }
    .footer .text1 {
        font-size: 20px;
    }
    .footer-menu {
        align-content: flex-start;
    }
    .footer-menu ul {
        padding-inline-start: 10px;
    }
    .footer-menu ul li {
        margin-top: 10px;
    }
    li.names {
        font-size: 16px;
        line-height: 19px;
    }
    li.list {
        font-size: 20px;
    }
    .copyright {
        font-size: 20px;
        padding-top: 0px;
    }
    .launching {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-align: right;
        color: #999999;
    }
}