.footer {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    @include xl {
        flex-wrap: wrap;
    }
    .footer-block {
        display: flex;
        flex-direction: column;
        @include lg {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .footer-left {
            @include lg {
                width: 30%;
            }
            .footers {
                display: flex;
                flex-wrap: wrap;
                .name {
                    font-family: 'Varela Round';
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 25px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.05em;
                    color: $color-111111;
                    margin-left: 5px;
                    @include xl {
                        font-size: 38px;
                        line-height: 34px;
                    }
                }
            }
            .text1 {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                color: $color-555555;
                padding-top: 22px;
                @include xl {
                    font-size: 20px;
                }
            }
            .society {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
                padding-top: 24px;
            }
        }
        .footer-right {
            display: flex;
            justify-content: center;
            @include lg {
                justify-content: space-around;
                width: 70%;
            }
            .footer-menu {
                display: flex;
                flex-wrap: wrap;
                aling-content: space-between;
                ul {
                    padding-inline-start: 20px;
                    @include xl {
                        padding-inline-start: 10px;
                    }
                    &.child{
                        display: flex;
                        flex-direction: column;
                    }
                    li {
                        width: 150px;
                        list-style: none;
                        margin-top: 10px;
                        font-family: 'Inter';
                        @include xl {
                            margin-top: 10px;
                        }
                        &.names {
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            color: $color-555555;
                            @include xl {
                                font-size: 16px;
                                line-height: 19px;
                            }
                        }
                        &.list {
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 100%;
                            color: $color-555555;
                            @include xl {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        margin-top: 48px;
        margin-bottom: 79px;
        .copyright, .launching {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 15px;
            line-height: 100%;
            color: $color-999999;
            @include xl {
                font-size: 20px;
            }
        }
    }
}
