.footer-upsell {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
    margin-top: 31px;
    margin-left: 24px;
    margin-right: 24px;
}
.footer-upsell-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    max-width: calc(50% - 44px) ;
    .name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FF3998;
        padding-bottom: 16px;
    }
    .name1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 44px;
        color: #111111;
    }
    .name2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14.9984px;
        line-height: 150%;
        color: #555555;
        padding-bottom: 36px;
    }
    .button{
        font-family: 'Inter';
        font-style: normal;
        text-decoration: none;
        font-weight: 600;
        font-size: 14.9984px;
        line-height: 150%;
        text-align: center;
        color: #111111;
        box-sizing: border-box;
        border: 2.99967px solid #FF3998;
        border-radius: 74.9918px;
        padding-left: 42px;
        padding-right: 42px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
.footer-upsell-img {
    display: flex;
    width: 50%;
    justify-content: center;
}
@include xl {
    .footer-upsell {
        width: calc(100% - 160px);
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 85px;
    }
    .footer-upsell-text {
        width: 50%;
        .name {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.1em;
        }
        .name1 {
            font-size: 56px;
            line-height: 68px;
        }
        .name2 {
            font-size: 20px;
        }
        .button{
            font-size: 20px;
            line-height: 150%;
        }
    }
    .footer-upsell-img {
        display: flex;
        width: 50%;
        justify-content: center;
    }
}