.header {
    display: flex;
    margin-top: 24px;
    margin-bottom: 31px;
    @include md {
        display: flex;
        margin-top: 70px;
    }
    .name {
        font-family: 'Varela Round';
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        align-items: center;
        letter-spacing: 0.05em;
        color: $color-111111;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 9px;
        @include md {
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
        }
    }
    .header-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        padding-right: 24px;
        @include md {
            display: none;
        }
        :nth-child(1n + 1) {
            width: 18px;
            height: 3px;
            top: 31px;
            background: $color-999999;
            border-radius: 2.3px;
            padding-bottom: 4px;
        }
    }
    .header-menu-desktop {
        display: none;
        @include md {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: auto;
            :nth-child(1n + 1) {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 20px;
                line-height: 100%;
                color: $color-555555;
                padding-right: 28px;
            }
        }
    }
}