.hero {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60% 40%;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: hidden;
    @include xl {
            grid-template-columns: 50% 50%;
            margin-bottom: 182px;
    }
    .heros-text {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
        max-width: calc(90%);
        margin-right: 20px;
        font-family: 'Inter';
        @include xl {
            width: 100%;
        }
        .name {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $color-FF3998;
            padding-bottom: 16px;
            @include xl {
                font-size: 16px;
                line-height: 19px;
            }
        }
        .name1 {
            font-weight: 900;
            font-size: 36px;
            line-height: 44px;
            color: $color-111111;
            @include xl {
                font-size: 96px;
                font-weight: 900;
                line-height: 116px;
            }
        }
        .name2 {
            font-weight: 400;
            font-size: 15px;
            line-height: 150%;
            color: $color-555555;
            padding-bottom: 36px;
            @include xl {
                font-size: 20px;
            }
        }
        .button {
            font-weight: 600;
            font-size: 15px;
            line-height: 150%;
            text-align: center;
            color: $color-111111;
            box-sizing: border-box;
            border: 2px solid $color-FF3998;
            border-radius: 75px;
            padding-left: 42px;
            padding-right: 42px;
            padding-top: 16px;
            padding-bottom: 16px;
            @include xl {
                font-size: 20px;
            }
        }
    }
    .heros-img {
        height: 310px;
        margin-left: 20px;
        @include xl {
            height: 519px;
            overflow: hidden;
            padding-left: 146px;
        }
    }
}
