$width-sm: 576px;
$width-md: 768px;
$width-lg: 1000px;
$width-xl: 1200px;
$width-xxl: 1400px;
$color-111111: #111111;
$color-555555: #555555;
$color-777777: #777777;
$color-999999: #999999;
$color-FF3998: #FF3998;
$color-EEEEEE: #EEEEEE;
$color-FFFFFF: #FFFFFF;
$color-FF8139: #FF8139;